@using System.Globalization
@using System.Web.Script.Serialization
@using System.Web.UI.WebControls
@using ClientDependency.Core.Mvc
@using Microsoft.Ajax.Utilities
@using noCMS.core
@using noCMS.data.EF
@{
    Html.RequiresJs("global/footer.js", "Content", 80);
    var settings = DependencyResolver.Current.GetService<IApplicationSettings>();
    var jsonSerialiser = new System.Web.Script.Serialization.JavaScriptSerializer();
    var supportedLanguages = jsonSerialiser.Serialize(DependencyResolver.Current.GetService<IApplicationSettings>().ImplementedLanguages.Select(kvp => kvp.Key).ToList());
    var _context = DependencyResolver.Current.GetService<ApplicationDataContext>();
    var model = _context.ContentElements.FirstOrDefault(m => m.ContentKey == "press_kit_footer");
    if (model == null)
    {
        _context.ContentElements.Add(new noCMS.data.Entities.Content()
        {
            ContentKey = "press_kit_footer",
            ContentMarkup = "#"
        });
        _context.SaveChanges();
    }
    var initValue = @Html.Raw(new JavaScriptSerializer().Serialize(model));
}
<!-- ko stopBinding: true -->
<div id="footer-container">
    @Html.Hidden("SetPressKitLinkUrl", Url.Action("SetPressKitLink", "PressKit"))
    
    
    <div class="footer-separator">
        <div class="aside-circle c-left"></div> 
        <div class="aside-circle c-right"></div>
        <div class="aside-circle c-center"></div>
        <div class="slim-line"></div>
        <div class="fat-line"></div>
    </div>

    <div class="clear"></div>

    @Html.Hidden("footer-data", (HtmlString)initValue)
    @Html.Hidden("supported-languages", supportedLanguages)
    
    @if (settings.MultiLanguage)
    {
        <div class="select-country dropup" style="display: none;">
            <select id="select-country" class="selectpicker-country dropup">
                <option value="es-AR">Argentina</option>
                <option value="en-AU">Australia</option>
                <option value="de-AT">Austria</option>
                <option value="nl-BE">Belgium</option>
                <option value="pt-BR">Brazil</option>
                <option value="es-CL">Chile</option>
                <option value="zh-CN">China</option>
                <option value="cs-CZ">Czech Republic</option>
                <option value="da-DK">Denmark</option>
                <option value="fi-FI">Finland</option>
                <option value="fr-FR">France</option>
                <option value="de-DE">Germany</option>
                <option value="el-GR">Greece</option>
                <option value="zh-HK">Hong Kong (China)</option>
                <option value="hi-IN">India</option>
                <option value="id-ID">Indonesia</option>
                <option value="he-IL">Israel</option>
                <option value="it-IT">Italy</option>
                <option value="ja-JP">Japan</option>
                <option value="ms-MY">Malaysia</option>
                <option value="es-MX">Mexico</option>
                <option value="nl-NL">Netherlands</option>
                <option value="en-NZ">New Zealand</option>
                <option value="ig-NG">Nigeria</option>
                <option value="nb-NO">Norway</option>
                <option value="en-PH">Philippines</option>
                <option value="pl-PL">Poland</option>
                <option value="pt-PT">Portugal</option>
                <option value="ru-RU">Russia</option>
                <option value="en-SG">Singapore</option>
                <option value="en-ZA">South Africa</option>
                <option value="ko-KR">South Korea</option>
                <option value="es-ES">Spain</option>
                <option value="sv-SE">Sweden</option>
                <option value="de-CH">Switzerland</option>
                <option value="zh-TW">Taiwan</option>
                <option value="th-TH">Thailand</option>
                <option value="uk-UA">Ukraine</option>
                <option value="ar-AE">United Arab Emirates</option>
                <option value="en-GB">United Kingdom</option>
                <option value="en-US">United States</option>
                <option value="vi-VN">Vietnam</option>
            </select>
        </div>
    }


    <div id="copyright-block" itemscope itemtype="http://schema.org/LocalBusiness">
        <p>Copyright © @DateTime.Now.ToString("yyyy", new CultureInfo("en-US")) <span itemprop="name">Demo Inc.</span> <span itemprop="telephone"> +1-844-MY-DEMO</span> </p>
    </div>
    
   @{ Html.RenderPartial("_FooterMenu"); }

    <div class="clear"></div>

    <div class="social-buttons">
        <a class="social" href="" target="blank" title="Facebook - Bleen Ink.">F</a>
        <a class="social" href="" target="blank" title="Twitter - Bleen Ink.">T</a>
        <a class="social" href="" target="blank" title="Youtube channel - Bleen Ink.">Y</a>
    </div>

</div>
<!-- /ko -->