<header>
    <div id="header-container">
        <a id="logo" href="@Url.Action("Index","Home", new { area = "" })">

            <img src="@Url.Content("/assets/global/img/logo-light.png")" alt="Bleen" />

            <p>Original device for watching</p>
        </a>
        
         @{
             if (User.Identity.IsAuthenticated)
             {

                 <menu id="header-menu">
                     <ul class="menu">
                         <li class="@Html.Raw(HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() == "UsersAdmin" ? "selected" : "")">
                             <a href="@Url.Action("Index", "UsersAdmin")">Users</a>
                         </li>

                     </ul>
                 </menu>


                 <div id="logout-container">
                     @Html.ActionLink("LogOut", "LogOff", "Authorization")
                 </div>
             }
         }
 
        <div class="clear"></div>
    </div>
</header>